<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sosd.client.mapper.AuthIdCardMapper">

    <resultMap id="BaseResultMap" type="org.sosd.client.domain.AuthIdCard">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="idNumber" column="id_number" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>


    <sql id="Base_Column_List">
        real_name,id_number,user_id,
        id
    </sql>
</mapper>
