<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sosd.client.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="org.sosd.client.domain.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="eventId" column="event_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="reply" column="reply" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,create_by,
        del_flag,event_id,create_time,
        reply
    </sql>
</mapper>
